:host {
    display: flex;
    min-height: 300px;

    .pagina {
        padding: 10px 30px;
        height: 100vh;
        overflow-y: auto;
        width: 100%;
        .jogos {
            width: 100%;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(min-content, max-content);

            @media screen and (max-width: 1550px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width: 1130px) {
                grid-template-columns: 1fr;
            }
        }
    }
}