<div class="pagina">
    <h1>Jogos da Rodada</h1>
    <button [routerLink]="['/equipe/anteriores',id]"></button>
    <div class="jogos"  *ngFor="let partida of proximasPartidas">
        <app-painel-jogos *ngFor="let dados of partida" [nomeCampeonato]="dados.campeonato.nome"
            [data]="dados.data_realizacao" [hora]="dados.hora_realizacao"
            [abreviacaoMandante]="dados.time_mandante.sigla" [abreviacaoVisitante]="dados.time_visitante.sigla"
            [escudoMandante]="dados.time_mandante.escudo" [escudoVisitante]="dados.time_visitante.escudo"
            [status]="dados.status" [placarMandante]="dados.placar_mandante"
            [placarVisitante]="dados.placar_visitante">

        </app-painel-jogos>
    </div>
    <br><br>
</div>