<div class="pagina">
    <div class="botoes">
        <div>
            <button [routerLink]="['/equipe/anteriores',id]"><span>Partidas Anteriores</span></button>
            <button [routerLink]="['/equipe/proximas',id]" class="selecionado"><span>Proximas Partidas</span></button>
        </div>
    
        <div>
            <button *ngFor="let competicoes of campeonatosTime" (click)="escolherFiltro(competicoes)" [class.selecionado]="filtro == competicoes" ><span>{{converterNomes(competicoes)}}</span></button>
        </div>
    </div>
    
    <div class="jogos" *ngFor="let partida of proximasPartidas">
        <app-painel-jogos *ngFor="let dados of (partida | proximasPartidas : filtro)" [nomeCampeonato]="dados.campeonato.nome"
            [data]="dados.data_realizacao" [hora]="dados.hora_realizacao"
            [abreviacaoMandante]="dados.time_mandante.sigla" [abreviacaoVisitante]="dados.time_visitante.sigla"
            [escudoMandante]="dados.time_mandante.escudo" [escudoVisitante]="dados.time_visitante.escudo"
            [status]="dados.status" [placarMandante]="dados.placar_mandante" [placarVisitante]="dados.placar_visitante">

        </app-painel-jogos>
    </div>

    <br><br>
</div>