:host{
    display: flex;
    width: 100%;
    height: 100vh;
    
    ::-webkit-scrollbar{
        width: 7px;
        &-thumb{
            background-color: #424242;
            border-radius: 15px;
            border: 6px solid transparent;
          
        }

        &-track{
            background: transparent;
        }
    }

    .container{
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        padding: 10px 30px;
  
        .pagina{
            width: 100%;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(min-content, max-content);
   
            @media screen and (max-width: 1550px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width: 1130px) {
                grid-template-columns: 1fr;
            }

        }
    }
}
