$h-spotify-logo: 120px;
$h-menu-opcoes: 150px;
$m-entre-menus: 10px;
$h-footer-user: 70px;
$h-desconsiderar: calc($h-spotify-logo + $h-menu-opcoes + $h-footer-user);

@keyframes moverMenu {
    0% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 100px;
        opacity: 1;
    }
}


:host {
    display: flex;
    app-equipes {
        width: 0px;
        display: none;
    }

    .mostrar-menu {
        display: initial;
        width: 100px;
        animation-duration: .5s;
        animation: moverMenu .5s;
        animation-name: moverMenu;
    }

    .menu {
        background: #202020;
        height: 100vh;
        width: 250px;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 15px #00000015;
        align-items: center;

        .campeonato {
            height: 50px;
            width: 100%;
            box-sizing: border-box;
            flex-grow: 0;
            background: #1d1d1d;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menus {
            flex-grow: 1;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;

            img {
                height: 100px;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .menu-container {
                width: 100%;

                &.flex {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                }

                &.opcoes {
                    min-height: $h-menu-opcoes;
                    flex-direction: column;

                }

                app-botao-menu {
                    margin-bottom: 5px;
                }

                .playlist-titulo {
                    margin: 10px 0px;
                    align-self: flex-start;
                    font-weight: 700;
                    color: #0000004D;
                }



            }
        }

    }
}

app-botao-menu {
    &:hover {
        background: #302f2f;
        border-left: 4px solid #00EB50;
    }

    &.selecionado {
        background: #302f2f;
        border-left: 4px solid #00EB50;
    }
}