@import '~bootstrap/dist/css/bootstrap.min.css';
:host{
    display: flex;

    .pagina{
        padding: 10px 20px;
        height: 100vh;
        overflow-y: auto;
        width: 100%;
        
        .filtro{
            margin: 20px 0px 40px 0px;
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: #202020;

            svg{
                cursor: pointer;
            }
        }
        .jogos {
            width: 100%;
            padding: 0px 0px 10px 0px;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: minmax(min-content, max-content);

            @media screen and (max-width: 1550px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width: 1130px) {
                grid-template-columns: 1fr;
            }
        }
    }
}

